.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
}

.headerTitleSmall{
    position: absolute;
    top: 18%;
    font-size: 20px;
    text-shadow: 
        -1px -1px 0 rgb(255, 255, 255),  
         1px -1px 0 rgb(255, 255, 255),
        -1px  1px 0 rgb(255, 255, 255),
         1px  1px 0 rgb(255, 255, 255); 
}

.headerTitleLarge{
    position: absolute;
    top: 20%;
    font-size: 100px;
    text-shadow: 
        -1px -1px 0 rgb(255, 255, 255),  
         1px -1px 0 rgb(255, 255, 255),
        -1px  1px 0 rgb(255, 255, 255),
         1px  1px 0 rgb(255, 255, 255); 
}

.headerBg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}